@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;900&display=swap');

* {
  font-family: "Overpass"
}

code {
  color: #f36060;
}

.content a {
  color: #2afad0;	
}

.entity-content__description {
  border-radius: 5px;
}

.entity-button, .entity-table, .entity-owner {
  border-radius: 4px;
}

.entity-button--danger {
  color: #f36060;
}
